---
---
<a class="fixed bottom-8 right-8 z-[60] flex items-center justify-center animate-bounce bg-secondary text-on-secondary rounded-full h-16 w-16 shadow-lg hover:scale-110 hover:shadow-xl transition-all" href="http://wa.me/6285173396002" target="_blank" rel="noopener noreferrer">
<span class="material-symbols-outlined text-4xl" data-icon="chat">chat</span>
</a>
