---
import '../styles/global.css';

interface Props {
	title?: string;
}

const { title = "Tarbiyah Sunnah Lab School | Sekolah Islam Fitrah & Rabbani" } = Astro.props;
---

<!doctype html>
<html lang="id" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<!-- Google Fonts & Material Symbols -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Playfair+Display:wght@600;700&family=Amiri&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet"/>
		

	</head>
	<body class="bg-background text-on-surface font-body-md overflow-x-hidden">
		<slot />
	</body>
</html>
